<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.init.mini.web.mapper.UserMapper">

    <select id="selectTest" resultType="string">
        select user_name from js_sys_user where user_code = 'admin'
    </select>

</mapper>